:root {
  --basegrey: #191919;
  --containergrey: #262626;
  --containerhover: #2d2d2d;
  --red: #cd4945;
  --darkred: #6e3630;
  --blue: #2e7cd1;
  --darkblue: #28456c;
  --green: #2d9964;
  --darkgreen: #2b593f;
  --maintext: #d4d4d4;
  --darktext: #555555;
}
body {
  background-color: var(--basegrey);
  color: var(--maintext);
  font-family: "General Sans", sans-serif;
  margin: 0;
  padding: 50px;
  margin-left: auto;
}
/*Header*/
.instructions span {
  background-color: var(--containergrey);
  padding: 0 5px;
  color: var(--red);
  border-radius: 4px;
}
.header-end {
  display: flex;
  gap: 10px;
}
.sort {
  margin-left: auto;
}
.headNew {
  background-color: #2383e2;
  border: none;
  margin-bottom: -5px;
  color: var(--maintext);
  width: 60px;
  border-radius: 5px;
}
.headNew:hover {
  background-color: #0077d4;
  cursor: pointer;
}
.sort,
.filter {
  background-color: var(--basegrey);
  border: none;
  color: var(--darktext);
  height: 30px;
  width: 50px;
  margin-bottom: -5px;
  border-radius: 5px;
}
.clicked {
  color: var(--blue);
}
.sort:hover,
.filter:hover {
  background-color: var(--containerhover);
}
.sortmenu {
  display: flex;
  background-color: var(--containergrey);
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  height: 80px;
  border-radius: 5px;
  position: absolute;
  margin-left: 73vw;
  font-size: 0.8rem;
  margin-top: -8px;
  visibility: hidden;
}
.sortmenu input {
  opacity: 0;
  position: fixed;
  width: 0;
}
.sortmenu div label {
  color: var(--maintext);
  width: 280px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
}
.sortmenu input:checked + label {
  background-color: var(--containerhover);
}
.sortName,
.sortDate {
  background-color: var(--basegrey);
  border: none;
  color: var(--maintext);
}
/*delete all confirmation block*/
.model {
  position: absolute;
  background-color: rgba(25, 25, 25, 0.516);
  height: 100vh;
  width: 100%;
  display: flex;
  margin: 0;
  padding: -50px;
  justify-content: center;
  align-items: center;
  margin: -50px;
}
.show {
  visibility: visible;
}
.hide {
  visibility: hidden;
}
.deleteallConfirmation {
  width: 300px;
  padding: 20px 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--containergrey);
  border-radius: 10px;
}
.confirmationText {
  text-align: center;
}
.confirmationDelete {
  width: 90%;
  height: 40px;
  margin: 10px 0px 0 0px;
  background-color: var(--containergrey);
  border: 2px solid var(--containerhover);
  border-radius: 4px;
  color: var(--red);
  font-size: 1rem;
}
.confirmationDelete:hover {
  background-color: #352626;
  border-color: var(--red);
}
.confirmationCancel {
  width: 90%;
  margin: 10px;
  height: 40px;
  background-color: var(--containergrey);
  border: 2px solid var(--containerhover);
  border-radius: 4px;
  color: var(--maintext);
  font-size: 1rem;
}
.confirmationCancel:hover {
  background-color: var(--containerhover);
  border-color: var(--maintext);
}
hr {
  background-color: var(--darktext);
  height: 1px;
  border: none;
}
/*main*/
main {
  display: flex;
  height: 80vh;
  justify-self: start;
  gap: 0px;
}
.taskComponent {
  width: 350px;
}
.todoHeader {
  background-color: var(--darkred);
  height: 25px;
  width: 80px;
  border-radius: 10px;
}
.progressHeader {
  background-color: var(--darkblue);
  height: 25px;
  width: 120px;
  border-radius: 10px;
}
.doneHeader {
  background-color: var(--darkgreen);
  height: 25px;
  width: 80px;
  border-radius: 10px;
}
.headerText {
  padding: 0;
  margin: 0 0 0 10px;
}
.headComponent {
  display: flex;
  width: 100%;
  align-items: flex-start;
}
.headComponent .counter {
  background-color: var(--basegrey);
  height: 25px;
  width: 25px;
  border: none;
  color: var(--darktext);
  font-size: 1rem;
  margin-left: 5px;
}
.headComponent .counter:hover {
  background-color: var(--containerhover);
}
.headComponent .new,
.headComponent .deleteAll {
  background-color: var(--basegrey);
  height: 25px;
  width: 25px;
  border: none;
  color: var(--basegrey);
  font-size: 1.2rem;
  margin-right: 50px;
  cursor: pointer;
}
.headComponent .deleteAll {
  margin: 0 0 0 auto;
}
.headComponent .new:hover {
  background-color: var(--containerhover);
  cursor: pointer;
}
.headComponent:hover {
  .new {
    color: var(--darktext);
  }
  .deleteAll {
    color: var(--darktext);
  }
}
.todo-btn {
  font-size: 1rem;
  color: var(--red);
}
.progress-btn {
  font-size: 1rem;
  color: var(--blue);
}
.done-btn {
  font-size: 1rem;
  color: var(--green);
}
.content {
  margin-top: 20px;
  max-width: 300px;
}
.content button {
  background-color: var(--basegrey);
  border: none;
  color: var(--darktext);
  font-size: 1rem;
  width: 100%;
  text-align: left;
  border-radius: 3px;
  height: 30px;
  transition: all 0.1s ease-in-out;
  margin-top: 3px;
}
.contentContainer {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: var(--containergrey);
  margin-top: 3px;
  cursor: move;
  border-radius: 3px;
}
.contentContainer .dragging {
  opacity: 0.5;
}

.dragging {
  opacity: 0.5;
}
.bordertop {
  border: 5px solid var(--blue);
}
.contentContainer .containerbtn {
  width: 36px;
  height: 36px;
  margin: 0;
  background-color: var(--containergrey);
  border-radius: 0;
  text-align: center;
  color: var(--containergrey);
  margin-left: auto;
}
.contentContainer .containerbtn:hover {
  color: var(--darktext);
  background-color: var(--containerhover);
  cursor: pointer;
}
.content button:hover,
textarea:hover {
  background-color: var(--containerhover);
  cursor: pointer;
  .containerbtn {
    color: var(--darktext);
    background-color: var(--containerhover);
    cursor: pointer;
  }
}
textarea,
textarea:focus {
  background-color: var(--containergrey);
  font-family: "General Sans", sans-serif;
  border: none;
  outline: none;
  color: var(--maintext);
  height: 35px;
  font-size: 1rem;
  border-radius: 3px;
  width: 100%;
  resize: none;
  data-gramm: "false";
  data-gramm_editor: "false";
  data-enable-grammarly: "false";
}
@media only screen and (max-width: 1000px) {
  main {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1000px) {
  Header {
    font-size: medium;
  }
}
